In [1]:
!pip install numpy

Collecting numpy
  Downloading numpy-1.24.1-cp310-cp310-win_amd64.whl (14.8 MB)
     ---------------------------------------- 14.8/14.8 MB 2.4 MB/s eta 0:00:00
Installing collected packages: numpy
Successfully installed numpy-1.24.1

In [2]:
!pip install pandas

Collecting pandas
  Downloading pandas-1.5.2-cp310-cp310-win_amd64.whl (10.4 MB)
     ---------------------------------------- 10.4/10.4 MB 2.1 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.21.0 in c:\gitt\python\laptop price predictor\model\myenv\lib\site-packages (from pandas) (1.24.1)
Collecting pytz>=2020.1
  Downloading pytz-2022.7-py2.py3-none-any.whl (499 kB)
     -------------------------------------- 499.4/499.4 kB 3.1 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.1 in c:\gitt\python\laptop price predictor\model\myenv\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\gitt\python\laptop price predictor\model\myenv\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.5.2 pytz-2022.7

In [3]:
import numpy as np
import pandas as pd

In [22]:
url = "https://raw.githubusercontent.com/VinnathSatharasinghe/Laptop-Price-Predictor/main/laptop_price.csv"
data = pd.read_csv(url, encoding='latin-1')
data.head()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,Intel HD Graphics 620,No OS,1.86kg,575.00
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,AMD Radeon Pro 455,macOS,1.83kg,2537.45
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60

In [25]:
data.shape

(1303, 12)

In [28]:
data.isnull().sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of       laptop_ID  Company  Product  TypeName  Inches  ScreenResolution    Cpu  \
0         False    False    False     False   False             False  False
1         False    False    False     False   False             False  False
2         False    False    False     False   False             False  False
3         False    False    False     False   False             False  False
4         False    False    False     False   False             False  False
...         ...      ...      ...       ...     ...               ...    ...
1298      False    False    False     False   False             False  False
1299      False    False    False     False   False             False  False
1300      False    False    False     False   False             False  False
1301      False    False    False     False   False             False  False
1302      False    False    False     False   False             False  False

        Ram    Gpu  OpSys  Weight  Price_euros
0     False  False  False   False        False
1     False  False  False   False        False
2     False  False  False   False        False
3     False  False  False   False        False
4     False  False  False   False        False
...     ...    ...    ...     ...          ...
1298  False  False  False   False        False
1299  False  False  False   False        False
1300  False  False  False   False        False
1301  False  False  False   False        False
1302  False  False  False   False        False

[1303 rows x 12 columns]>

In [30]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   laptop_ID         1303 non-null   int64
 1   Company           1303 non-null   object
 2   Product           1303 non-null   object
 3   TypeName          1303 non-null   object
 4   Inches            1303 non-null   float64
 5   ScreenResolution  1303 non-null   object
 6   Cpu               1303 non-null   object
 7   Ram               1303 non-null   object
 8   Gpu               1303 non-null   object
 9   OpSys             1303 non-null   object
 10  Weight            1303 non-null   object
 11  Price_euros       1303 non-null   float64
dtypes: float64(2), int64(1), object(9)
memory usage: 122.3+ KB

In [31]:
data.head(2)

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,Intel HD Graphics 6000,macOS,1.34kg,898.94

In [32]:
#remove laptop id !! cuz it's not a valuble informationn for laptop price
#ram -> remove (Gb) 
#weight -> remove (kg)

data['Ram'] = data['Ram'].str.replace('GB','').astype('int32')
data['Weight'] = data['Weight'].str.replace('kg','').astype('float32')

In [33]:
data.head(1)

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8,Intel Iris Plus Graphics 640,macOS,1.37,1339.69

In [34]:
data.info() #new

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   laptop_ID         1303 non-null   int64
 1   Company           1303 non-null   object
 2   Product           1303 non-null   object
 3   TypeName          1303 non-null   object
 4   Inches            1303 non-null   float64
 5   ScreenResolution  1303 non-null   object
 6   Cpu               1303 non-null   object
 7   Ram               1303 non-null   int32
 8   Gpu               1303 non-null   object
 9   OpSys             1303 non-null   object
 10  Weight            1303 non-null   float32
 11  Price_euros       1303 non-null   float64
dtypes: float32(1), float64(2), int32(1), int64(1), object(7)
memory usage: 112.1+ KB

In [36]:
data.corr()['Price_euros'] 
 #if the value low u can remove those colomes

C:\Users\user\AppData\Local\Temp\ipykernel_7052\703178330.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.corr()['Price_euros']

laptop_ID      0.067830
Inches         0.068197
Ram            0.743007
Weight         0.210370
Price_euros    1.000000
Name: Price_euros, dtype: float64

In [39]:
len(data['Company'].value_counts()) #all brands

19

In [40]:
(data['Company'].value_counts())

Dell         297
Lenovo       297
HP           274
Asus         158
Acer         103
MSI           54
Toshiba       48
Apple         21
Samsung        9
Razer          7
Mediacom       7
Microsoft      6
Xiaomi         4
Vero           4
Chuwi          3
Google         3
Fujitsu        3
LG             3
Huawei         2
Name: Company, dtype: int64

In [48]:
# after apple brand others have some low number of...
#...products cuz of that all those low companys add into 1 file !!!

def add_company(inpt):
    if inpt == 'Samsung' or inpt == 'Razer' or inpt == 'Mediacom' or inpt == 'Microsoft' or inpt == 'Xiaomi' or inpt == 'Vero' or inpt == 'Chuwi' or inpt == 'Google' or inpt == 'Fujitsu' or inpt == 'LG' or inpt == 'Huawei':
         return 'Other'
    else:
        return inpt
data['Company'] = data['Company'].apply(add_company)

In [49]:
data['Company'].value_counts()

Dell       297
Lenovo     297
HP         274
Asus       158
Acer       103
MSI         54
Other       51
Toshiba     48
Apple       21
Name: Company, dtype: int64

In [51]:
len(data['Product'].value_counts())

618

In [52]:
data['TypeName'].value_counts()

Notebook              727
Gaming                205
Ultrabook             196
2 in 1 Convertible    121
Workstation            29
Netbook                25
Name: TypeName, dtype: int64

In [53]:
len(data['TypeName'].value_counts())

6

In [54]:
data['ScreenResolution'].value_counts()

Full HD 1920x1080                                507
1366x768                                         281
IPS Panel Full HD 1920x1080                      230
IPS Panel Full HD / Touchscreen 1920x1080         53
Full HD / Touchscreen 1920x1080                   47
1600x900                                          23
Touchscreen 1366x768                              16
Quad HD+ / Touchscreen 3200x1800                  15
IPS Panel 4K Ultra HD 3840x2160                   12
IPS Panel 4K Ultra HD / Touchscreen 3840x2160     11
4K Ultra HD / Touchscreen 3840x2160               10
4K Ultra HD 3840x2160                              7
Touchscreen 2560x1440                              7
IPS Panel 1366x768                                 7
IPS Panel Quad HD+ / Touchscreen 3200x1800         6
IPS Panel Retina Display 2560x1600                 6
IPS Panel Retina Display 2304x1440                 6
Touchscreen 2256x1504                              6
IPS Panel Touchscreen 2560x1440                    5
IPS Panel Retina Display 2880x1800                 4
IPS Panel Touchscreen 1920x1200                    4
1440x900                                           4
IPS Panel 2560x1440                                4
IPS Panel Quad HD+ 2560x1440                       3
Quad HD+ 3200x1800                                 3
1920x1080                                          3
Touchscreen 2400x1600                              3
2560x1440                                          3
IPS Panel Touchscreen 1366x768                     3
IPS Panel Touchscreen / 4K Ultra HD 3840x2160      2
IPS Panel Full HD 2160x1440                        2
IPS Panel Quad HD+ 3200x1800                       2
IPS Panel Retina Display 2736x1824                 1
IPS Panel Full HD 1920x1200                        1
IPS Panel Full HD 2560x1440                        1
IPS Panel Full HD 1366x768                         1
Touchscreen / Full HD 1920x1080                    1
Touchscreen / Quad HD+ 3200x1800                   1
Touchscreen / 4K Ultra HD 3840x2160                1
IPS Panel Touchscreen 2400x1600                    1
Name: ScreenResolution, dtype: int64

In [55]:
#select 2 -> ips & touch 
#TODO - remove ScreenResolution colom
data['Touchscreen'] = data['ScreenResolution'].apply(lambda x:1 if 'Touchscreen' in x else 0)
data['IPS'] = data['ScreenResolution'].apply(lambda x:1 if 'IPS' in x else 0)

In [56]:
data['Cpu'].value_counts()

Intel Core i5 7200U 2.5GHz       190
Intel Core i7 7700HQ 2.8GHz      146
Intel Core i7 7500U 2.7GHz       134
Intel Core i7 8550U 1.8GHz        73
Intel Core i5 8250U 1.6GHz        72
                                ...
Intel Core M M3-6Y30 0.9GHz        1
AMD A9-Series 9420 2.9GHz          1
Intel Core i3 6006U 2.2GHz         1
AMD A6-Series 7310 2GHz            1
Intel Xeon E3-1535M v6 3.1GHz      1
Name: Cpu, Length: 118, dtype: int64

In [120]:
data['Cpu_name'] = data['Cpu'].apply(lambda x:"".join(x.split()[0:3]))

In [121]:
data['Cpu_name'].value_counts()

IntelCorei7               527
IntelCorei5               423
IntelCorei3               136
IntelCeleronDual           80
IntelPentiumQuad           27
IntelCoreM                 19
AMDA9-Series9420           12
IntelCeleronQuad            8
AMDA6-Series9220            8
AMDA12-Series9720P          7
IntelAtomx5-Z8350           5
AMDA8-Series7410            4
IntelAtomx5-Z8550           4
IntelPentiumDual            3
AMDA9-Series9410            3
AMDRyzen1700                3
AMDA9-SeriesA9-9420         2
AMDA10-Series9620P          2
IntelAtomX5-Z8350           2
AMDE-SeriesE2-9000e         2
IntelXeonE3-1535M           2
IntelXeonE3-1505M           2
AMDE-Series7110             2
AMDA10-Series9600P          2
AMDA6-SeriesA6-9220         2
AMDA10-SeriesA10-9620P      2
AMDRyzen1600                1
IntelAtomx5-Z8300           1
AMDE-SeriesE2-6110          1
AMDFX9830P                  1
AMDE-SeriesE2-9000          1
AMDA6-Series7310            1
IntelAtomZ8350              1
AMDA12-Series9700P          1
AMDA4-Series7210            1
AMDFX8800P                  1
AMDE-Series9000e            1
SamsungCortexA72&A53        1
AMDE-Series9000             1
AMDE-Series6110             1
Name: Cpu_name, dtype: int64

In [125]:
#categorizeing
def set_processor(name):
    
    if name == 'Intel Core i7' or name == 'Intel Core i5' or name == 'Intel Core i3':
        return name
    else:
        if name.split()[0] == 'AMD':
            return 'AMD'
        else:
            return 'Other'
        
data['Cpu_name'] = data['Cpu_name'].apply(set_processor)

In [126]:
data['Cpu_name'].value_counts()

Other    1303
Name: Cpu_name, dtype: int64